<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script>
    $(function () {
        $('td').each(function (i, v) {
            if (v.textContent === "done") {
                v.title = "Accept"
                v.bgColor = "#D4EDC9"
            } else if (v.textContent[0] === 'h') {
                v.title = "N/A"
                v.bgColor = "#E5E5E5"
            } else {
                v.bgColor = "#FFE3E3"
                if (v.textContent[0] === 'b') {
                    v.title = "Runtime Error"
                } else if (v.textContent[0] === 'd') {
                    v.title = "Memory Limit Exceeded"
                } else if (v.textContent[0] === 'a') {
                    v.title = "Time Limit Exceeded"
                } else if (v.textContent[0] === 'f') {
                    v.title = "Output Limit Exceeded"
                } else {
                    v.title = "Wrong Answer"
                }
            }
        })
        $('thead > tr > th').each(function (i, v) {
            $(v).css('cursor', 'pointer');
            v.onclick = function () {
                window.open("https://oj.nctu.me/problems/" + v.textContent + "/", "_blank")
            }
        })
        $('tbody > tr > td').each(function (i, v) {
            $(v).css('cursor', 'pointer');
            v.onclick = function () {
                var p = v.parentNode.firstElementChild.textContent
                var c = $('thead > tr > th').get(v.cellIndex).textContent
                window.open("https://oj.nctu.me/groups/" + {{ group_id }} + "/submissions/?count=100000&name=" + p + "&problem_id=" + c, "_blank")
    }
        })
    })
</script>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
    }

    th,
    td {
        text-align: center;
        min-width: 75px;
        height: 75px;
    }

    thead tr th {
        position: sticky;
        top: 0;
        background-color: #DEC8FF;
        z-index: 0;
    }

    thead tr th:first-child {
        left: 0;
        z-index: 1;
    }

    tbody tr th {
        position: sticky;
        left: 0;
        background-color: #DEC8FF;
        z-index: 0;
    }

    td {
        font-family: 'Material Icons';
        font-size: 28px;
    }
</style>

{{render() | safe}}
